<div class="col-lg-8 mx-auto p-3 py-md-4">
    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">About Us</span>
      </a>
    </header>
    <p>
        Training Institute is a dynamic software training institute was established in 2007, located in Ameerpet, Hyderabad. It has a remarkable 16-year legacy in providing top-notch training and placements in Hyderabad, Telangana.
    </p>

    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Mission</span>
        </a>
    </header>
    <p>
        Our mission at Training Institute is to revolutionize education by providing end-to-end solutions for all engineering and other graduates specializing in computer science. We aim to bridge the gap between traditional education and the evolving needs of the industry.
    </p>
  
    <main class="mt-5">
      <h1 class="pb-3 mb-3 border-bottom">Start learning now</h1>
      <p class="fs-5 col-md-8">Quickly and easily get started with us, prepare yourself so well that companies run behind you to offer new jobs.</p>
  
      <div class="mb-5">
        <a class="btn btn-primary btn-lg px-4">Start Now</a>
      </div>
  
      <hr class="col-3 col-md-2 mb-5">
  
      <div class="row g-5">
        <div class="col-md-6">
          <h2>Training Services</h2>
          <p>We are one of the best in industry. When you need quality trainings you can trust us blindly.</p>
          <ul class="icon-list">
            <li><a rel="noopener" target="_blank">Fullstack Development</a></li>
            <li><a rel="noopener" target="_blank">Dev Ops</a></li>
            <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
          </ul>
        </div>
  
        <div class="col-md-6">
          <h2>Career</h2>
          <p>Do you think you ar one of the best trainer then feel free to jon us. We are looking for a below trainers</p>
          <ul class="icon-list">
            <li><a>Java FullStack</a></li>
            <li><a>.NET Full Stack</a></li>
            <li><a>Data Science</a></li>
            <li><a>AWS & AZURE Cloud</a></li>
          </ul>
        </div>
      </div>
    </main>
  </div>