header {
    text-align: center;
}

header img{
    height: 100px;
    width: 100px;
}

nav span {
    /* display: inline-block; */
    width: 150px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin: 0 10px;
}

nav span:hover {
    background-color: gray;
}

span a {
    color: white;
    text-decoration: none;
}

/* article{
    clear: both;
} */

* {
    box-sizing: border-box;
  }

.row {
    width: 100%;
    clear: both;
}

.col {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.col article {
    text-align: justify;
}

footer{
    clear: both;
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: large;
}

video {
    width: 100%;
}

button {
    background-color: lightblue;
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    width: 120px;
}

button:hover{
    background-color: gray;
}

.page-title{
    clear: both;
    margin: 20px 10px;
    text-align: center;
}

form {
    border: 1px dotted;
    border-radius: 10px;
    padding: 15px;
}

input, textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
}

label{
    font-size: large;
    padding-top: 5px;
    display: inline-block;
}

@media only screen and (max-width: 620px) {
    nav span{
        margin: 5px 10px;
    }

    .col{
        width: 100%;
    }

    video {
        width: 80%;
    }
}