<!-- Carousel -->
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let img of images">
        <div class="picsum-img-wrapper">
            <img [src]="img" alt="Random first slide" />
        </div>
    </ng-template>
</ngb-carousel>
<div class="col-lg-8 mx-auto p-3 py-md-4">
    <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Trainings</span>
        </a>
      </header>
      <div class="row mt-3">
        <div class="col" *ngFor="let course of courses">
            <div class="card">
                <img src="/assets/training.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{course.name | uppercase}}</h5>
                    <h6 class="card-subtitle">{{course.duration}}</h6>
                    <p class="card-text">{{course.description}}</p>
                    <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>
      </div>
</div>
